:root {
  color: #1A1A1A;
  background-color: #FEFEFE;
}

#root {
  text-align: center;
  font-family: 'Poppins', sans-serif;  
}

@font-face {
  font-family: 'Tan Tankiwood';
  src: url('./assets/fonts/TANTangkiwood-Display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}